<% provide(:title, 'New source') %>
<h1>New source</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@source) do |f| %>
      <%= render 'shared/error_messages', object: @source %>

      <div class="timestamp">
        <%= f.text_field :created_at, data: { date_format: 'YYYY/MM/DD' }, class: 'date_picker_start', placeholder: 'YYYY/MM/DD', autocomplete: 'off' %>
      </div>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit 'add', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
