<li id="transaction-<%= transaction.id %>">
  <%= form_for(transaction, url: transaction_path ) do |f| %>
    <%= render 'shared/error_messages', object: transaction %>
    <span class="id"><%= f.hidden_field :id, value: transaction.id %></span>
    <span class="timestamp">
      <%= f.text_field :created_at, data: { date_format: 'YYYY/MM/DD' }, class: 'datetimepicker', placeholder: 'YYYY/MM/DD' %>
    </span>
    <span class="category"><%= f.collection_select :parent_category_id, Category.all, :id, :name %></span>
    <span class="genre"><%= f.collection_select :category_id, Category.all, :id, :name %></span>
    <span class="store"><%= f.collection_select :store_id, Store.all, :id, :name %></span>
    <span class="content"><%= f.text_field :content %></span>
    <span class="yen">¥<%= f.text_field :yen %></span>
    <span class="source"><%= f.collection_select :source_id, Source.all, :id, :name %></span>
    <span class="group"><%= f.collection_select :group_id, Group.all, :id, :name  %></span>
    <span class="memo"><%= f.text_field :memo %></span>
    <span class="save"><%= f.submit 'save', class: "btn btn-primary btn-sm" %></span>
  <% end %>
</li>
