<li id="transaction-<%= transaction.id %>">
  <span class="timestamp"><%= l transaction.created_at %></span>
  <span class="category"><%= transaction.category.parent&.name %></span>
  <span class="genre"><%= transaction.category.name %></span>
  <span class="store"><%= transaction.store.name %></span>
  <span class="content"><%= transaction.content %></span>
  <span class="yen">¥<%= transaction.yen %></span>
  <span class="source"><%= transaction.source.name %></span>
  <span class="group"><%= transaction.group.name %></span>
  <span class="memo"><%= transaction.memo %></span>
</li>
