<li id="transaction-<%= transaction.id %>">
  <%= form_for(transaction, url: transaction_path) do |f| %>
    <%= render 'shared/error_messages', object: transaction %>
    <span class="id"><%= f.hidden_field :id, value: transaction.id %></span>
    <span class="valid_record"><%= f.check_box :valid_record %></span>
    <span class="timestamp">
      <%= f.text_field :created_at, data: { date_format: 'YYYY/MM/DD' }, class: 'date_picker_start', placeholder: 'YYYY/MM/DD' %>
    </span>
    <span class="category"><%= f.collection_select :parent_category_id, Category.where(parent: nil), :id, :name %></span>
    <span class="genre"><%= f.collection_select :category_id, Category.where(parent_id: transaction.parent_category_id), :id, :name %></span>
    <span class="store"><%= f.text_field :store_name %></span>
    <span class="content"><%= f.text_field :content %></span>
    <span class="yen">¥<%= f.text_field :yen %></span>
    <span class="source"><%= f.collection_select :source_id, Source.all, :id, :name %></span>
    <span class="group"><%= f.collection_select :group_id, Group.all.order(created_at: 'DESC'), :id, :name  %></span>
    <span class="memo"><%= f.text_field :memo %></span>
    <span class="save"><%= f.submit 'save', class: "btn btn-primary btn-sm" %></span>
  <% end %>
</li>
