<% provide(:title, 'New transaction') %>
<h1>New transaction</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@transaction) do |f| %>
      <%= render 'shared/error_messages', object: @transaction %>

      <span class="valid_record"><%= f.hidden_field :valid_record, value: true %></span>

      <div class="timestamp">
        <%= f.text_field :created_at, data: { date_format: 'YYYY/MM/DD' }, class: 'date_picker_start', placeholder: 'YYYY/MM/DD', autocomplete: 'off' %>
      </div>

      <span class="category"><%= f.collection_select :category_id, Category.where(parent: nil), :id, :name %></span>
      <div class="genre"><%= f.collection_select :category_id, Category.genre, :id, :name %></div>

      <div class="store"><%= f.collection_select :store_id, Store.all, :id, :name %></div>

      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>

      <div class="yen">¥<%= f.text_field :yen %></div>
      <div class="source"><%= f.collection_select :source_id, Source.all, :id, :name %></div>
      <div class="group"><%= f.collection_select :group_id, Group.all, :id, :name  %></div>
      <div class="wallet"><%= f.collection_select :wallet_id, Wallet.all, :id, :name  %></div>
      <%= f.label :memo %>
      <div class="memo"><%= f.text_field :memo %></div>

      <%= f.submit 'add', class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
